<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prism-themes@1.1.0/themes/prism-atom-dark.min.css" />
        <title>Aunnnn</title>
    </head>
    
    <body>
        <h1>{{ pageTitle }}</h1>
        {{ content }}
    </body>
</html>